<div layout="row" flex>
    <md-sidenav layout="column" flex md-component-id="left" md-is-locked-open=true class="md-sidenav-left" style="background-color: blue; width: 271px">
        <div flex="40" layout="row" layout-align="center center" style="border: solid 2px">
            <img flex src="img/angularLogo.jpg"></img>
        </div>
        <div flex>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
        </div>
    </md-sidenav>
    <div flex layout="column">
        <md-toolbar flex layout="row" layout-align="center center">
            <h3 flex style="padding-left: 8px">Robert Archer</h3>
            <img flex="10" src="img/angularLogo.jpg"></img>
        </md-toolbar>
        <div flex>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
            Rarcher </br>
        </div>
    </div>
</div>
